!!!
%html
  %head
    %title= html_title
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.text-gray-900
    .min-h-screen.flex.flex-col.justify-start
      = render "layouts/flash"
      = render "layouts/navbar"
      = yield
      -# %footer.mt-auto.bg-indigo-500.text-white.w-full.px-6.py-2
      -#   .text-right
      -#     = mail_to "support@enoughemail.com", "Get help"